
 {% block content %}



{% if user.is_authenticated %}
         <h2>{{ user.username }}'s Profile</h2>
<p>Email: {{ user.email }}</p>
<p>Bio: {{ user.profile.bio }}</p>
<a href="{% url 'update_profile' %}">Edit Profile</a>
<a href="{% url 'delete_profile' %}">Delete Profile</a>
<h3>Friends</h3>
<a href="{% url 'friends_list' %}">Friends List</a>
{% else %}
    <p>{{ message }}</p>
    <a href="{% url 'login' %}">Login</a> or <a href="{% url 'register' %}">Register</a>
{% endif %}


        {% endblock %}
